<li>
    <div class="check">{{input class="check" type="checkbox"}}</div>
    <div><i>{{fa-icon "minus" size=2 border=true}}</i></div>
    <div class="title"><h4>{{title}}</h4></div>
    <div><i>{{fa-icon "trash"size=2 }}</i></div>
</li>
