<tr>
    <td width="0px" class="check">{{input class="check" type="checkbox" checked=todo.completed}}</td>
    <td width="50px">{{fa-icon "minus" size=2 border=true}}</td>
    <td width="1250px">
        <h2>{{title}}</h2>
    </td>
    <td width="0%">{{fa-icon "trash"size=2 border=true}}</td>
</tr>
<hr style="width:97%">