<tr>
    <td width="35px" class="check">{{input class="check" type="checkbox" checked=todo.completed}}</td>
    <td width="35px">{{fa-icon "minus"}}</td>
    <td width="1150px">
        <h2>{{title}}</h2>
    </td>
    <td width="0%">
        <div>{{fa-icon "trash"}}</div>
    </td>
</tr>
<hr style="width:95%">
