.add{
    display: flex;
}
.add i{
    margin-left: 80px;
    margin-top: 3px;
    position: absolute;
}
.icon{
    position: absolute;
    margin: 6px;
}

th{
    font-size:x-large;
    height: 20px;
    padding: 15px;
}
i{
    cursor: pointer;
}
.inpt{
    padding-left: 30px;
    height: 40px;
    border-radius: 5px;
}
button{
    /* background-color: rgb(39, 42, 230); */
    color: rgb(170, 166, 166);
    cursor: pointer;
    margin-left: 20px;
    /* border-radius: 5%; */
    font-size: 20px;
}
.content{
    display: flex;;
}
.btn{
    width:400px;
    height: 45px;
    background-color: rgb(39, 42, 230);
    border-radius: 5px;
}

.tble{
    width: 100%;
}
table.tble {
    display: block;
    height: 400px;
      text-align: center;
    /* Set vertical scroll */
    overflow-y: auto;
      
    /* Hide the horizontal scroll */
    overflow-x: hidden; 
}


input{
    width: 70%;
    height: 50px;
    font-size: 20px;
    background-color: rgb(238, 237, 236);
}
.container{
    margin:40px;
    padding: 50px;
    background-color: rgb(238, 237, 236);
    /* height: 50px; */
}

.options{
    display: flex;
    text-align: center;
}
.options > div {
    width: 250px;
    height: 50px;
    margin: 10px;
    color: darkgrey;
    text-align: center;
    font-size: 25px;  
}
.options :hover{
    background-color: rgb(39, 42, 230);

}

tr{
    display: flex;
}
tr >td{
padding:10px;
}
.check{
    /* padding: 0%; */
    width: 25px;
    cursor: pointer;
}
td{
    text-align: left;
}
.desc{
    /* padding: 5px; */
    margin: 10px;
    display: flex;
    border-bottom-width: 5px;
    height: 50px;
    /* border-style: outset; */
}
.btns{

    margin-right: 20%;
    padding-right: 0%;
}
.listing{
    margin-top: 60px;
    border:1px solid rgb(41, 40, 40);
    font-size: small;
    color: rgb(37, 36, 36);
}
