
<div class="main">
    <div class="title">
        <h1>TODO List</h1>
    </div>
    <br>
    <div class="container">
        <div class="content">
            {{input type="text" value=description placeholder="Enter your activity here to make note.."}}
            <button class="btn" > Add </button>
        </div>
        <div class="options">
            <button class="btn" > All </button>
            <button class="btn"> Completed </button>
            <button class="btn"> Not Completed </button>
        </div>
        
        

    </div>

</div>
{{outlet}}