<div class="main">
    <br>
    <div class="container">
        <div class="content">
            <i class="icon">{{fa-icon "edit"}}</i>
            {{input class="inpt" type="text"value=description placeholder="What need to be done?"}}
            <button class="btn" {{action 'addTodo' }}> Add </button>
        </div>
        <br><br>
        <div class="listing">
            <table class="tble">
                <thead>
                    <tr>
                        <th>Todo List</th>
                    </tr>
                </thead>
                <hr>
                <tbody>
                    {{#each filteredTodos as |todo|}}
                    {{#each-todo title=todo.title}}
                    {{/each-todo}}
                    <hr style="width:95%">
                    {{/each}}
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>

        

    </div>

</div>

{{outlet}}