<div class="main">
    <br>
    <div class="container">
        <div class="content">
            <i class="icon">{{fa-icon "edit"}}</i>
            {{input class="inpt" type="text"value=description placeholder="What need to be done?"}}
            <button class="btn" {{action 'addTodo' }}> Add </button>
        </div>
        <br><br>
        <div class="listing">
            <table class="tble">
                <thead>
                    <tr>
                        <th>Todo List</th>
                    </tr>
                </thead>
                <hr>
                <tbody>
                    {{#each model as |todo|}}
                    {{#each-todo title=todo.title}}
                    {{/each-todo}}
                    {{/each}}
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>

        <div class="options">
            {{#link-to "todos" (query-params completed = true)}}Completed{{/link-to}}
        </div>

    </div>

</div>

{{outlet}}